################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/00 27-04-2021 Connect 2 Server/Server Side/WebApplication1/.vs/WebApplication1/v16/Server/sqlite3/db.lock
/07 07-07-2021 More Stuff/GlobalTimerWebApi2/.vs/GlobalTimerWebApi2/v16/Server/sqlite3/db.lock
